                                                            /* SECTION ONE */
.main-section-one {
    width: 90%;
    height: 86vh;
    display: flex;
    margin: 0 auto;
}

.main-section-one div {
    width: 32.5%;
}

.menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
}


.menu .circle{
    margin: 1em;
    width: 150px;
    height: 150px;
    border-radius: 30%;
}

.menu .circle img {
    width: 150px;
    height: 140px;
    object-fit: cover;
    border-radius: 27%;
}

.menu .circle img:hover {
    transform: scale(1.1);
    transition: all .5s ease;
    cursor: pointer;
}


.msg-box {
    background-image: url('../../../images/hero.png');
    background-repeat: no-repeat;
    background-size: 400px 400px;
    background-origin: content-box;
    background-position: center;
    width: 35%;
    height: 50vh;
    margin: 5em auto;
    cursor: pointer;
}

.show-msg {
    padding: .5em 1.5em;
    background-color: rgb(163, 91, 91);
    border-radius: 1em;
    color: white;
    animation: fadeIn 2s ease;
}

.main-section-one .top a{
    position: absolute;
    bottom: 1em;
    right: 1em;
    font-size: 1.5rem;
    position: fixed;
    text-decoration: none;
}

.main-section-one .top a:hover {
    opacity: .8;
    transition: all .5s ease;
}

                                                            /* SECTION ONE MEDIA QUERY */

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@media (max-width: 800px) {

    .main-section {
        background-size: 300px 300px;
    }
}

@media (max-width: 550px) {

    .main-section-one {
        width: 80%;
    }

    .msg-box {
        width: 0;
        height: 0;
    }
}

                                                            /* PRODUCTS-SECTION */
 
.section-products {
    width: 80%;
    margin: 5em auto;

}

.section-products h5 {
    font-size: 1.3rem;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(138, 8, 8);
    text-align: center;
}

.products-container {
    display: flex;
    justify-content: space-between;
    margin: 5em auto;
}

.products {
    background-color: gray;
    width: 30%;
}

.product-top {
    display: flex;
    align-items: center;
}

.product-top .product-img {
    width: 160px;
    height: 150px;
    border-radius: 30%;
    padding: 1em;
}

.product-img img {
    width: 155px;
    height: 130px;
    object-fit: cover;
    border-radius: 27%;
}

.product-bottom {
    display: flex;
    justify-content: space-between;
}