.cart {
    width: 80%;
    margin: 10em auto;
}

.cart-item {
    width: 800PX;
    margin: 2em auto;
    display: flex;
    justify-content: space-between;
    border-radius: 10px;
    align-items: center;
    /* background-color: rgb(236, 229, 229); */
    /* padding: 1em; */
}

.cart-item img {
    width: 110px;
    border-radius: 7px;
}

.cart-item-desc {
    padding: 0 1em;
    width: 150px;
    margin-right: 1em;
}

.plus-minus {
    display: flex;
    align-items: center;
    margin: 0 1em;
    width: 150px;
}

.plus-minus p {
    border: 1px solid rgb(161, 160, 160);
    padding: 0 1em;
    border-radius: 2px;
}

.plus-minus button {
    width: 25px;
    margin: .5em;
    border: none;
    background-color: rgb(175, 87, 87);
    color: white;
    font-size: 1.1rem;
    font-weight: 900;
    cursor: pointer;
    border-radius: 2px;
}

.item-price {
    font-weight: 600;
    width: 150px;
}

.item-delete {
    cursor: pointer;
}

.cart-total {
    background-color: steelblue;
    width: 250px;
    color: white;
    padding: 1em;
    border-radius: 5px;
    font-size: 1.2rem;
}

.total-item {
    margin-left: 1em;
    padding: .2em 1em;
}

.total-value {
    margin-left: 1em;
    padding: .2em 1em;
}
                                                                /* MEDIA QUERY */


@media (max-width: 666px) {

    .cart-item {
        width: 500PX;
        margin: 2em auto;
    }
}

@media (max-width: 550px) {

    .cart-item {
        width: 400PX;
    }
}